.jigsaw, .jigsaww{
    display:flex;
 }
 .jigsaw1, .jigsaw2, .jigsaw3, .jigsaw4 {
     width: 6em;
     height: 6em;
     
     position: relative;
  
     
     cursor: pointer;
   }
   
   .jigsaw1,
   .jigsaw1 span {
    background-color: #0284cf; 
   }
   
   .jigsaw2,
   .jigsaw2 span {
    background-color: #00008B; 
   }
   
   .jigsaw3,
   .jigsaw3 span {
    background-color: #FF5733; 
   }
   .jigsaw4,
   .jigsaw4 span {
    background-color: #F3FF33; 
   }
   .jigsaw3 .t, .jigsaw4 .t {
    width: 2em;
     height: 2em;
     position: absolute;
     top: -1.5em;
     left: 2em;
     -webkit-border-radius: 4em;
     -moz-border-radius: 4em;
    
   }
   
   .jigsaw1 .r, .jigsaw2 .r, .jigsaw3 .r, .jigsaw4 .r {
    width: 2em;
     height: 2em;
     position: absolute;
     top: 2em;
     left: 5.5em;
     -webkit-border-radius: 4em;
     -moz-border-radius: 4em;
     border-radius: 4em;
   }
   
   .jigsaw1 .b, .jigsaw2 .b, .jigsaw3 .b, .jigsaw4 .b { 
    width: 1.8em;
     height: 1.8em;
     position: absolute;
     top: 4.5em;
     left: 2.2em;
     -webkit-border-radius: 4em;
     -moz-border-radius: 4em;
     border-radius: 4em;
     background-color: #fff;
   }
   
   .jigsaw1 .l, .jigsaw3 .l, .jigsaw4 .l { 
    width: 1.8em;
     height: 1.8em;
     position: absolute;
     top: 2.2em;
     left: -.4em;
     -webkit-border-radius: 4em;
     -moz-border-radius: 4em;
     border-radius: 4em;
     background-color: #fff;
   }
  .jigsaw2 .l { 
    width: 1.8em;
     height: 1.8em;
     position: absolute;
     top: 2.2em;
     left: -.4em;
     -webkit-border-radius: 4em;
     -moz-border-radius: 4em;
     border-radius: 4em;
     background-color: #0284cf;
   }
 .jigsaw4 .l { 
    width: 1.8em;
     height: 1.8em;
     position: absolute;
     top: 2.2em;
     left: -.4em;
     -webkit-border-radius: 4em;
     -moz-border-radius: 4em;
     border-radius: 4em;
     background-color: #FF5733; 
   }
 
 .screen {
  background-image: url("https://i.ibb.co/dkHwWBG/pexels-ihsan-aditya-1056251.jpg");
   background-repeat: no-repeat;
   
   width: 100%;
  
     height: 12em;
    position: relative;
  }
 
 .puzzle {
    position: absolute;
 }
 .container{
  
 }